<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="div1">
        <div class="nav">
            <a href="/read" class="text-blue-500">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter ">Create User</h1>
        <form action="/create" method="post">
           <input class="input" type="text" placeholder="name" name="name">
           <input class="input" type="text" placeholder="email" name="email">
           <input class="input" type="text" placeholder="Image URL" name="ImageURL">
           <input class="input1" type="summit" value="Create User">
        </form>
    </div>
</body>
</html>