<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Now linking the css -->
     <link rel="stylesheet" href="/stylesheets/style.css">
     <!-- here we do not need to add public in pathh -->
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
     <!-- tailwind css -->
</head>

<body>
    <h1>Hi this is Ejs file</h1>
    <h2>Welcome to EJS <%= 2 + 3 %></h2>
    <!-- here in ejs we can calculate dynamically -->

    <script src="/javascripts/script.js"></script>>
</body>

</html>